#feedbackit-slideout {
  position: fixed;
  top: 100px;
  right: 0;
  width: 35px;
  padding: 12px 0;
  text-align: center;
  background: #a8cad2;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius:5px 0 0 5px;
  -moz-border-radius:5px 0 0 5px;
  border-radius:5px 0 0 5px;
  display:none;
}
#feedbackit-slideout:hover {
  cursor:pointer;
}
#feedbackit-slideout_inner {
  position: fixed;
  top: 100px;
  right: -250px;
  background: #a8cad2;
  width: 200px;
  padding: 25px;
  height: 380px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-align: left;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
#feedbackit-slideout_inner textarea {
  width: 190px;
  height: 100px;
}

/* @kieranbarnes overwrite form-group 15px margin-bottom */
#feedbackit-slideout_inner div.form-group {
	margin-bottom: 6px;
}

.feedbackit-slideout_outer {
  right: 250px !important;
}

.feedbackit-slideout_inner {
  right: 0 !important;
}

#feedbackit-highlight-holder{
  position:absolute;
  display:none;
  width:150px;
  height: 150px;
}

#feedbackit-highlight-holder img{
  width:150px;
  height: 150px;
  opacity:0.5;
}

.feedbackit-small-img{
  max-width: 256px;
  max-height: 256px;
  border:1px solid black;
}
